.contenedor {
    border: 5px solid #e1bee7;
    background-color: #fff1ff;
    display: grid;
    /* Creamos tres columnas y con minmax() especificamos
    el ancho mínimo y máximo que estas pueden abarcar */
    grid-template-columns: minmax(30px, 300px) 200px minmax(60px, 250px);
    /* Utilizamos repeat() para crear tres filas que calculen
    su altura automáticamente dependiendo de sus necesidades */
    grid-template-rows: repeat(3, auto);
}

.item {
    border: 5px solid #00bcd4;
    font-size: 2rem;
}