.contenedor {
    border: 5px solid #e1bee7;
    background-color: #fff1ff;
    display: grid;
    /* Las dos primeras filas tendrán un alto definido */
    grid-template-rows: 100px 200px;
    /* Establece un ancho definido para las columnas que se crean automáticamente */
    grid-auto-columns: 100px;
    /* Por defecto la grilla rellana los espacios con nuevas filas, pero aquí especificamos que queremos que nos llene los espacios primero con columnas, por eso su orden numérico cambia */
    grid-auto-flow: column;
    /* Con la propiedad gap creamos brechas o espacios internos entre filas y columnas */
    row-gap: 15px;
    column-gap: 30px;
    /* Con la propiedad gap el espaciado es uniforme tanto entre filas como entre columnas */
    gap: 40px;
}

.item {
    border: 5px solid #00bcd4;
    font-size: 4rem;
}