.contenedor {
    border: 5px solid #e1bee7;
    background-color: #fff1ff;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3, 150px);
    grid-auto-rows: 150px;
    height: 600px;
    /* Esta propiedad centrará horizontalmente nuestra grilla como bloque */
    justify-content: center;
    /* Alineamos nuestra grilla al centro de nuestro contenedor verticalmente */
    align-content: center;
    /* Esta propiedad nos permite ubicar de manera central nuestra grilla tanto horizontal como verticalmente */
    place-content: center;
}

.item {
    border: 5px solid #00bcd4;
    font-size: 4rem;
}