.contenedor {
    border: 5px solid #e1bee7;
    background-color: #fff1ff;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3, 150px);
    grid-auto-rows: 150px;
    height: 600px;
    /* Esta propiedad permite ubicar nuestra grilla en la esquina inferior derecha de su contenedor */
    place-content: end;
    /* Ubica cada uno de los items de manera horizontal a la derecha */
    justify-items: end;
    /* Ubica cada uno de los items de manera vertical en la parte superior derecha */
    align-items: start;
}
.item {
    border: 5px solid #00bcd4;
    font-size: 4rem;
}

.item-2 {
    /* Ubicamos al elemento 2 del final de su celda hacia el inicio */
    justify-self: start;
    /* Ubicamos al elemento 2 en la parte inferior de la celda que lo contiene */
    align-self: end;
}