/* Importamos la tipografía de Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 6.25%;
}

body {
    font-size: 16rem;
    font-family: 'Roboto', sans-serif;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

/* HERO SECTION */

.hero-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
}


.hero-left__title {
    color: #002327;
    font-size: 52rem;
    font-weight: 900;
    padding-bottom: 20px;
}

.hero-left__text {
    color: #7a7e7e;
    width: 90%;
    font-size: 18px;
    padding-bottom: 30px;
}

.hero-left__btn {
    background-color: #ea731d;
    border-radius: 28px;
    border: 1px solid #c76118;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 18rem;
    padding: 10px 40px;
    text-align: center;
    letter-spacing: 1px;
}

.hero-right__img {
    width: 80%;
}

/* SERVICES SECTION */

.services-section {
    padding: 70px 0;
}

.services__title {
    color: #686d6f;
    padding-bottom: 25px;
    font-size: 30rem;
    font-weight: 500;
    text-align: center;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 200px);
    gap: 15px;
}

.services__img {
    width: 100%;
    height: 100%;
}

.services__img .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-video {
    grid-area: 1 / 1 / 3 / 3;
}

/* HOME MENU SECTION */

.menu-section {
    padding-bottom: 30px;
}

.menu__title {
    color: #686d6f;
    padding-bottom: 25px;
    font-size: 25rem;
    font-weight: 400;
    text-align: center;
}

.menu-container {
    display: grid;
    grid-template-columns: repeat(5, minmax(100px, 1fr));
    grid-template-rows: 200px;
    gap: 15px;
}

.menu__img {
    background-color: #fcebec;
    border-top-left-radius: 30px;
    position: relative;
    padding: 20px 0;
}

.menu__img .heart-icon {
    padding-top: 10px;
    padding-right: 15px;
    position: absolute;
    top: 0;
    right: 0;
}

.menu__img .heart-icon i {
    color: #64cad3;
}

.menu__img .heart-icon .--pink {
    color: #df9e7a;
}

.menu__img .img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}