/* Las keywords auto-fill y auto-fit ayudan a la 
grilla a ocupar el 100% del espacio disponible */

.contenedor {
    border: 5px solid #e1bee7;
    background-color: #fff1ff;
    display: grid;
    /* auto-fit : Ensancha las columnas para que 
    ocupen todo el espacio del contenedor */
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.contenedor-2 {
    border: 5px solid #e1bee7;
    background-color: #fff1ff;
    display: grid;
    margin-top: 100px;
    /* auto-fill : Agrega columnas “fantasma” que 
    rellenan el espacio sobrante del contenedor */
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.item {
    border: 5px solid #00bcd4;
    font-size: 2rem;
}