.contenedor {
    border: 5px solid #e1bee7;
    background-color: #fff1ff;
    display: grid;
    /* Creamos 4 columnas divididas en fracciones
    que cada una abarca un ancho calculado para
    poder abarcar el espacio total del contenedor */
    grid-template-columns: repeat(4, 1fr);
}

.item {
    border: 5px solid #00bcd4;
    font-size: 2rem;
}