.contenedor {
    border: 5px solid #e1bee7;
    background-color: #fff1ff;
    display: grid;
    /* Con min-content ajustamos el ancho de la celda
    lo mínimo posible sin romper su contenido */
    grid-template-columns: 1fr 3fr min-content 2fr;
}

.item {
    border: 5px solid #00bcd4;
    font-size: 2rem;
}